html { height: 100%; }
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-position: center center;
  background-size: contain;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

#p_prldr{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #f2f2f2;;
  z-index: 2002;
}

.contpre small{font-size:25px;}

.contpre{
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url('/logo.svg') center center no-repeat;
  background-size: 200px;
  margin: 25px 0 0 -100px;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

input, textarea, select, .checkbox, .radio, .button{
  background-color: rgba(242,242,242, 0.85);
  color:#414141;
  border: 2px solid #414141;
  box-shadow:none;
  font-weight:600;
  font-size:14px;
  padding:6px;
  margin:0;
  cursor:pointer
}

.button{
	padding:6px 30px;
}
.button[not:disabled]:hover{
    background-color:#b0b0b0
}
.button:active{
    background-color:#b0b0b0
}
.button:focus,input:focus textarea:focus{
    outline:none;
    box-shadow:0 0 0 2px #b0b0b0
}
textarea:disabled,
input:disabled{
    opacity:.5;
    cursor:default
}
.button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner{
    border:0
}


/* Customize the label (the container) */
.checkbox_container {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 14px;
  font-weight:600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_container[disabled] {
    opacity: 0.5;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkbox, .checkbox_container:hover input ~ .radio {
  background-color: #b0b0b0;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkbox, .checkbox_container input:checked ~ .radio {
  background-color: #f2f2f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after, .radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkbox:after, .checkbox_container input:checked ~ .radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkbox:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 9px;
  border: solid #414141;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio {
	padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.checkbox_container .radio:after {
 	top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #414141;
}


A {
	color: #42648b;
    text-decoration: none;
   }

.vk_online{
  background: #8ac176;
  display: inline-block;
  bottom: 0;
  width: 8px;
  margin-left: 4px;
  border-radius: 100%;
  height: 8px;
}

.vk_mobile_online{
  display: inline-block;
  margin-left: 4px;
  border-radius: 3px;
  bottom: 0;width: 8px;
  height: 12px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgNyAxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxnIGlkPSJTeW1ib2xzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0iIzhBQzE3NiIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0ib25saW5lIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAzLjAwMDAwMCwgLTQyMi4wMDAwMDApIj4KICAgICAgICAgICAgPHBhdGggZD0iTTIwMyw0MjMuNTA2NDM5IEMyMDMsNDIyLjY3NDQ1NiAyMDMuNjcxMTg5LDQyMiAyMDQuNTAxNjc2LDQyMiBMMjA4LjQ5ODMyNCw0MjIgQzIwOS4zMjc2NzcsNDIyIDIxMCw0MjIuNjcxNTQxIDIxMCw0MjMuNTA2NDM5IEwyMTAsNDMxLjQ5MzU2MSBDMjEwLDQzMi4zMjU1NDQgMjA5LjMyODgxMSw0MzMgMjA4LjQ5ODMyNCw0MzMgTDIwNC41MDE2NzYsNDMzIEMyMDMuNjcyMzIzLDQzMyAyMDMsNDMyLjMyODQ1OSAyMDMsNDMxLjQ5MzU2MSBMMjAzLDQyMy41MDY0MzkgWiBNMjA0LDQyNCBMMjA5LDQyNCBMMjA5LDQzMCBMMjA0LDQzMCBMMjA0LDQyNCBaIiBpZD0ibW9iaWxlX20iLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.yt-video{
  border-radius: 1.2rem;
}


@media (min-width: 576px) {
  .ps-sm-8 {
      padding-left: 17rem !important;
  }
}

@media (min-width: 768px) {
  .ps-md-8 {
      padding-left: 17rem !important;
  }
}

@media (min-width: 992px) {
  .ps-lg-8 {
      padding-left: 17rem !important;
  }
}

@media (min-width: 1200px) {
  .ps-xl-8 {
      padding-left: 17rem !important;
  }
}

@media (min-width: 1400px) {
  .ps-xxl-9 {
      padding-left: 22rem !important;
  }
}

@media (min-width: 1600px) {
  .ps-xxxl-7 {
      padding-left: 12rem !important;
  }
}

.post_header{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 1.2rem;
  border: 1px solid rgba(209, 205, 199, 0.5);
  margin-top: 1rem;
}
.post_img{display:block;float:left;width:50px;height:50px;border-radius:50%;vertical-align:top}
.post_header_info{margin-left:65px;padding-top:5px;}
.post_author{color:#939393;line-height:16px;overflow:hidden;text-overflow:ellipsis}
.post_date{font-size:12.5px;padding-top:3px;color:#939393}
.post_author .author{font-weight:500;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:auto;}
h5.post_author{font-size:13px;margin:0;font-weight:400;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:auto}
