/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/Be0CkOtwwI2n86HMhtablRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/-DackuIFgo7Hfy3rR14C3xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/UgYUhLCkRUocJ8OZnvelZxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/Ao3NCHUpHgdVgp2UtibJoRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/wz1gqe57Mbg11v-OrLlVjhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v12/qLBu5CQmSMt1H43OiWJ77VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html { height: 100%; }
body {
  background-image: url(http://kr3nd31.ru/images/kr3nd31.jpg); /* ���� � �������� ����������� */
  background-position: center center; /* ��������� ���� */
  background-size: contain;
  background-attachment:fixed;
  background-repeat: no-repeat; /* �������� ���������� ���� */
  background-color: #f2f2f2;

}

#main {
	color: #414141;
    width: 40%; /* ������ ���� � �������� */
    margin: 5% auto; /* ������ ����� � ������ */
    background:  rgba(242,242,242, 0.85); /* ���� ���� */
    padding: 10px; /* ���� ������ ������ */
	border: 3px solid #414141; /* ��������� ������� */
    text-align: center; /* ������������ ����������� ���� �� ������ ���� */
	font-family: 'Comfortaa';
   }

input, textarea, select, .checkbox, .radio, .button{
    font-family: 'Comfortaa';
    background-color: rgba(242,242,242, 0.85);
    color:#414141;
    border: 2px solid #414141;
    box-shadow:none;
    font-weight:600;
    font-size:14px;
    padding:6px;
    margin:0;
    cursor:pointer
}

.button{
	padding:6px 30px;
}
.button[not:disabled]:hover{
    background-color:#b0b0b0
}
.button:active{
    background-color:#b0b0b0
}
.button:focus,input:focus textarea:focus{
    outline:none;
    box-shadow:0 0 0 2px #b0b0b0
}
textarea:disabled,
input:disabled{
    opacity:.5;
    cursor:default
}
.button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner{
    border:0
}


/* Customize the label (the container) */
.container {
  position: relative;
  padding-top: 3px;
  padding-left: 23px;
  cursor: pointer;
  font-size: 14px;
  font-weight:600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container[disabled] {
    opacity: 0.5;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkbox, .container:hover input ~ .radio {
  background-color: #b0b0b0;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkbox, .container input:checked ~ .radio {
  background-color: #f2f2f2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after, .radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkbox:after, .container input:checked ~ .radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkbox:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid #414141;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio {
	padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.container .radio:after {
 	top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #414141;
}


A {
	color: #42648b;
    text-decoration: none; /* ������� ������������� ��� ������ */
   }

.post_header{margin: 10px}
.post_img{display:block;float:left;width:50px;height:50px;border-radius:50%;vertical-align:top}
.post_header_info{margin-left:65px;padding-top:8px}
.post_author{color:#939393;line-height:16px;overflow:hidden;text-overflow:ellipsis}
.post_date{font-size:12.5px;padding-top:3px;color:#939393}
.post_author .author{font-weight:500;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:auto;}
h5.post_author{font-size:13px;margin:0;font-weight:400;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:auto}
