@charset "utf-8";
.side-menu{
	position: fixed;
    top: 12.7%;
    left: 2%;
}

.out_color{
	width:70px;
	height:70px;
	background-color:#FFF;
	border:1px dashed black;
	position:absolute;
	top:0;
	border-radius: 1.2rem;
	margin-left: 1.2rem;
	left:100%;
}

.modern_out_color{
	width:70px;
	height:70px;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5), 6px 6px 16px rgba(209, 205, 199, 0.5);
    border-radius: 1.2rem;
    background-color: #f2f2f2;
    border: 1px solid rgba(209, 205, 199, 0.5);
    position:absolute;
	top:0;
	margin-left: 1.2rem;
	left:100%;
}

.modern_out_color:hover{
	border-color: rgb(185, 182, 176);
}

.out_html_color{
	width:70px;
	position:absolute;
	top: 30%;
	left: 101%;
	margin-left: 1.2rem;
}

.modern_picker{
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5), 6px 6px 16px rgba(209, 205, 199, 0.5);
    border-radius: 1.2rem;
    background-color: #f2f2f2;
    border: 1px solid rgba(209, 205, 199, 0.5);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 1rem;
}

.modern_picker:hover{
	border-color: rgb(185, 182, 176);
}

.picker{
	height: auto;
}

#block_picker{
	background-color:red;
	height:180px;
	width:180px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

#block_picker img {
	width:180px;
}

#line {
	position: absolute;
	left:214px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

.right_arrow {
	width:0;
	height:0;
	left:23px;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid transparent;
	border-top:6px solid transparent;
	border-right:10px solid black;
}

.left_arrow {
	width:0;
	height:0;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid black;
	border-top:6px solid transparent;
	border-right:8px solid transparent;
}

#arrows {
	position:absolute;
	top:0;
	margin-top:-4px;
	left:-11px;
	width:40px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;

}

#circle {
	width:8px;
	height:8px;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

.square {
	position:absolute;
	top:30%;
	left:70%;
	height:30px;
}

.square input {
	width:80px;
	height:25px;
}

.cO{
	width:20px;
	height:19px;
	background-color:white;
	float:right;
	border-radius:0 10px 10px 0;
}


.left_arrow, .right_arrow, .bk_img, #block_picker, .cLine{
	border-radius: 1rem;
}
